<!DOCTYPE html>
<html>
<head>





</head>
<body>
<center>
    <table border="1" width="700">
        <tr>
            <td colspan="2" align="center">Personal Information</td>
        </tr>
        <tr>
            <td align="center">Name:</td><td align="center">Bai Lusha</td>
        </tr>
        <tr>
            <td align="center">Email:</td><td align="center">rosabls@connect.hku.hk</td>
         </tr>
         <tr>
            <td align="center">Phone:</td><td align="center">9718 0237</td>
        </tr>
        <tr>
            <td align="center">Hobby</td><td align="center">Visiting Museums</td>
        </tr>
        <tr>
            <td align="center">Place To Visit:</td><td align="center"><a href=https://www.hkpm.org.hk/tc/home> Hong Kong Palace Museum</a></td>
        </tr>
        <tr>
             <td colspan="2" align="center"><img src=hkpm.jpeg width="600" height="400"></td>
        </tr>
    </table>
</center>



</body>
</html>